<header>
  <div class="header-intro mat-dark text-white py-5">
    <div class="container">
      <div class="profile-teaser media flex-column flex-md-row">
        <div id="profile-info" class="flex-column mx-auto mb-4">
          <img class="profile-image mb-3 mr-md-5 ml-md-0 rounded mx-auto" src="./assets/img/headshot.jpg" width=200 height=200 alt>
          <div id="info" class="ml-md-1 ml-3">
            <i class="fas fa-map-marker-alt mr-3"></i><span>Philadelphia, PA</span><br>
            <i class="fas fa-envelope mr-3" style="margin-left: -3px;"></i><a href="mailto:hello@ryanross.dev" target="_top" style="color: white;"><span>hello@ryanross.dev</span></a>
          </div>
        </div>

        <div class="media-body text-center text-md-left">
          <div class="lead">Hello, my name is</div>
          <h2 class="mt-0 display-4 font-weight-bold">Ryan Ross</h2>
          <div class="bio mb-3">
            Caffeine Enthusiast. Coding Enthusiast. Caffeinated Coding Hobbyist.
            <br/>
            <br/>Full time application developer at QVC who found his true passion in Information Technology. My drive is backed by my curiosity for all areas of technology and the people I interact with.
            Temple University Graduate with a BS in Information Science & Technology from the College of Science and Technology.
          </div>
          <div id="links">
              <a href="https://github.com/shayd3" target="_blank"><i class="fab fa-github fa-2x"></i></a>
              <a href="https://www.linkedin.com/in/ryan-ross-a4634b100/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
          </div> 
        </div>
      </div>

    </div>

  </div>
</header>
<section>
  <div class="container">
    <div class="row">
      <div id="resume" class="col-12">
        <div id="resume-section-title" class="text-center">
            <h1>Resume</h1>
            <hr>
        </div>
        <div id="resume-content" class="row resume">
          <div id="experience" class="col-md-6 col-sm-12 border-line-v">
            <div class="resume-title border-line-h">
              <div class="icon">
                
              </div>
              <div class="name">Experience</div>
            </div>
            <div class="resume-items">
              <div class="resume-item border-line-h active">
                <div class="date">Jun 2018 - Present</div>
                <div class="name">Associate Application Developer</div>
                <div class="company">QVC</div>
                <p>Working in the CI/CD realm of things, I assist in developing and maintaining tools/applications to help developers move efficiently. I have helped in building out a Continuous Integration process in Jenkins utilizing pipelines as code. Alongside this, I have developed many micro-service based applications and UIs to monitor and track applications being built, tested, and deployed through the CI process. </p>
              </div>
              <div class="resume-item border-line-h">
                  <div class="date">Sep 2017 - May 2018</div>
                  <div class="name">Peer Tutor</div>
                  <div class="company">Temple University</div>
                  <p>Assisted students on various CIS courses such as Data Structures, Computational Probability and Statistics, Component-Based Software Design, Database Management Systems, and Discrete Math. Supported Programming languages include: Python, Java, C#</p>  
              </div>
              <div class="resume-item border-line-h">
                  <div class="date">May 2017 - Aug 2017</div>
                  <div class="name">Digital Content Developer Intern</div>
                  <div class="company">QVC</div>
                  <p>Work closely with web design, eCommerce, copy and digital content QA team in updating the US QVC website and native apps on a daily basis to ensure a flawless user experience. Assited in building web pages with attention to detail based on business team direction. Work in multiple environments including Adobe Experience Manager, web-based CMS, and HTML. Met with many employees in the developement side of the QVC business in order to gain insight of backend and frontend workflows</p>  
              </div>
              <div class="resume-item">
                  <div class="date">Aug 2014 - May 2018</div>
                  <div class="name">Classroom Technology Support Help Desk</div>
                  <div class="company">Temple University</div>
                  <p>Provided support and resolution to incoming help requests. Maintain composure while displaying courtesy and strong interpersonal skills when dealing with all customer interactions Deal with A/V Equipment, smart rooms, computer hardware/program assistance</p>  
              </div>
            </div>
          </div>

          <div id="education" class="col-md-6 col-sm-12 border-line-v">
              <div class="resume-title border-line-h">
                  <div class="icon"></div>
                  <div class="name">Education</div>
              </div>
              <div class="resume-items">
                  <div class="resume-item border-line-h">
                      <div class="date">2014-2018</div>
                      <div class="name">Information Science & Technology</div>
                      <div class="company">Temple University</div>
                      <p>Bachelor's of Science Degree in Information Science & Technology. Philadelphia, PA</p>  
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>

<app-repos></app-repos>
