<header>
  <div class="header-intro mat-dark text-white py-5">
    <div class="container">
      <div class="profile-teaser media flex-column flex-md-row">
        <img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="https://via.placeholder.com/200" alt>
        <div class="media-body text-center text-md-left">
          <div class="lead">Hello, my name is</div>
          <h2 class="mt-0 display-4 font-weight-bold">Ryan Ross</h2>
          <div class="bio mb-3">
            Caffeine Enthusiast. Coding Enthusiast. Caffeinated Coding Hobbyist.
            <br/>
            <br/>Full time application developer at QVC who found his true passion in Information Technology. My drive is backed by my curiosity for all areas of technology and the people I interact with.
            Temple University Graduate with a BS in Information Science & Technology from the College of Science and Technology.
          </div>
          <div id="links">
              <i class="fab fa-github fa-2x"></i>
              <i class="fab fa-linkedin fa-2x"></i>
          </div>
        </div>
      </div>

    </div>

  </div>
</header>
<section>
  <div class="row">
    <div class="container">
      <div class="text-center">
          <h1>Skills</h1>
          <hr>
      </div>
    </div>
  </div>
</section>

<app-repos></app-repos>
