@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


html {
  height: 100%
}

body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

header {
  margin-bottom: 2em;
}

.bg-primary {
  background-color: #00bcd4 !important;
}

.text-white {
  color: #fff !important;
}

.mat-primary {
  background-color: #3498DB !important;
}

.mat-primary-dark {
  background-color: #2980B9;
  color: #ffffff;
}

.mat-dark {
  background-color: #2C3E50 !important;
  color: #ffffff;
}

.mat-warning {
  background-color: #E74C3C !important;
  color: #ffffff; 
}

.mat-white {
  background-color: #ECF0F1 !important;
  color: black;
}

#links i{
  margin-right: 15px;
}


