@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


html {
  height: 100%
}

body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Ubuntu', sans-serif;
}
